#para o git ignorar tudo
/*
#menos as seguintes pastas e ficheiros
!/weblogicmvc
!/.gitignore
!/DOC
#no entanto, queremos que ele ignore também a
#pasta vendor da weblogicmvc, pois não nos
#interessa que vá para o git, nem a pasta que
#contém as configurações do IDE
/weblogicmvc/vendor
/weblogicmvc/.idea